body {
    background: url(https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg);
    background-size: cover;
    background-position: center; 
    padding-bottom: 20%
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    padding-top: 50%;
    padding-left:10%;
    text-align: left;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
/*                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);*/
}

h3, p{
    padding-left:10%;
}

.form-inline{
    padding-left: 11%;
    padding-right: 11%;

}

.btn.btn-primary{
    background-color: #000000;
    border-width: #000000

}



/*hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}*/
